# Database
SPRING_DATASOURCE_URL=jdbc:sqlserver://localhost:1433;databaseName=technical_test;encrypt=false;trustServerCertificate=true
SPRING_DATASOURCE_USERNAME=SA
SPRING_DATASOURCE_PASSWORD=TU_PASSWORD_AQUI

# JWT
JWT_SECRET=TU_JWT_SECRET_AQUI
JWT_EXPIRATION=3600000
